*
!dist
!package.json
!package-lock.json
!packages
!packages/**
!src
!src/**
!public
!public/**
!index.html
!embed.html
!mobile.html
!vite.config.ts
!vite.mobile.config.ts
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!env.d.ts
!nginx.conf
!nginx.mobile.conf
!docker-entrypoint.sh
